@*written by omar  starting 3/25/2025 CS 4485 *@

@inherits LayoutComponentBase
@inject NavigationManager Navigation

@code {
    private bool IsLoginPage => Navigation.Uri.EndsWith("/");
}

<div class="page">
    @if (!IsLoginPage)
    {
        <div class="sidebar">
            <NavMenu />
        </div>
    }

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
