@page "/config"

<h1>Raw Configuration String</h1>

<pre>
{
  "ConnectionStrings": {
    "DefaultConnection": "Server=localhost;Port=3306;Database=attendanceproject;User=root;Password=root;"
  }
}
</pre>
