@*written by omar khan starting 4/30/2025 CS 4485 *@
@page "/DBinfo"

<h1>Database Information</h1>

<pre>
{
  "ConnectionStrings": {
    "DefaultConnection": "Server=localhost;Port=3306;Database=attendanceproject;User=root;Password=root;"
  }
}
</pre>
