@*written by manoj starting 3/26/2025 CS 4485 *@
@page "/quizbanks/create"
@inject ApplicationDbContext Db
@inject NavigationManager Navigation
//mxm200063 manoj manivannan
<h3>Create Quiz Bank</h3>

<EditForm Model="@newQuizBank" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="mb-3">
        <label for="title">Title</label>
        <InputText id="title" class="form-control" @bind-Value="newQuizBank.Title" />
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</EditForm>

@code {
    private QuizBank newQuizBank = new();

    private void HandleValidSubmit()
    {
        Db.QuizBanks.Add(newQuizBank);
        Db.SaveChanges();
        Navigation.NavigateTo("/quizbanks");
    }
}
